.titleComp{
    margin: 50px auto;

    h2{
    
        font-size: 34px;
        text-align: center;
    }
    p{
        text-align: center;
        color: #9C9C9C;
        font-size: 14px;
        margin: 0 auto;
        width: 60%;
    }

}

