.studeContent_Card {
  margin: 4rem 0;
}

.leftSide {
  span {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: .25rem .5rem;
    border-radius: .75rem;
  }
  h2 {
    padding-bottom: 0.5rem;
    color: #080808;
  }
}