.testimonials{
    background-color: black;
    padding: 2rem 0px 5rem 0;

    .container {
        .titleComp {
            h2 {
                margin: 1rem 0;
            }
        }
        .testimonials_wrapper{
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 2rem;
            @include mobile {
                grid-template-columns: 1fr;
            }
            .card_testimonial{
                width: 100%;
                padding: 25px;
                border: 1px solid #f4f4f4;
                border-radius: 10px;
                position: relative;
                .qouteImage{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: -15px;
                    left: 15px;
                }
                p {
                    color: #fff;
                }
                .user {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    
                    h4 {
                        color: #fff;
                    }
                }
            }
            
        }
    }
}



