@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;500;700&family=Raleway:wght@100;200;300;500;700;900&display=swap');

// components
@import './components/Navbar/navbar';
@import './components/Hero/hero';
@import './components/WorkSection/worksection';
@import './components/Studie/casestudie';
@import './components/Title/titleComponent';
@import './components/Testimonials/testimonials';
@import './components/Recent/recent';
@import './components/Form/form';
@import './components/Footer/footer';




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// variable

.container {
	width: 80%;
	margin: 0 auto;
	padding: 0px 95px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

p,
a,
span {
	font-family: 'IBM Plex Mono', monospace;
}
